---
import Layout from "shared/ui/layout.astro";
import Title from "shared/ui/title.astro";
import Card from "shared/ui/navigation-card.astro";
import "styles/global.css";
---

<Layout
  title="Главная | pom-pom.pro"
  description="На сайте вы можете посмотреть историю прыжков из игры, информацию о игровых персонажах. Также имеется календарь событий."
>
  <div class="container mx-auto px-4 py-8">
    <Title text="Главная" />
    <section class="space-y-2 md:space-y-4">
      <Card link="/characters" title="Персонажи">
        <p>Здесь вы можете посмотреть игровых персонажей !</p>
      </Card>
      <Card link="/warp" title="История прыжков">
        <p>
          Здесь вы можете загрузить свою историю прыжков из игры и
          посмотреть её в удобном формате !
        </p>
      </Card>
      <Card link="/timeline" title="Лента событий">
        <p>Здесь вы можете посмотреть ленту игровых событий !</p>
      </Card>
    </section>
  </div>
</Layout>

